{% extends 'base.html' %}
{% include 'nav.html' %}

{% block content %}
<main role="main" class="d-flex container mt-5">
  <div>
    <div class="starter-template">
      <h1 style="font-family: 'Cormorant Garamond', Serif; font-size: 55px;">
        How to Win Philosophy and Influence People
      </h1>
    </div>
    </br>
    <div class="lead" style="font-family: 'Fira Sans', Sans-Serif; font-Size: 15px;" for="thinker-input">
      This is a website I built during my time at Recurse Center. It's an experiment to start conversations about
      influence within and between intellectual traditions.
    </div></br>
  </div>
</main>
{% endblock %}