{% extends 'base.html' %}
{% set active_page = "home" %}

{% include 'nav.html' %}
{% block content %}
<main role="main" class="d-flex flex-column container mt-5">
  <div class="starter-template">
    <h1 style="font-family: 'Cormorant Garamond', Serif; font-size: 55px;">
      How to Win Philosophy and Influence People
    </h1>
  </div>
  <form class="form-group" text-align=center action="/" method="POST">
    <label class="lead" style="font-family: 'Fira Sans', Sans-Serif; font-Size: 15px;" for="thinker-input">
      Enter the name of an inspiring philosopher here to get their influences and who they influenced. E.g. Michel
      Foucault or Frantz Fanon
    </label></br>
    <input type="text" class="form-control input-lg" id="thinker-input" name="thinker"
      placeholder="Enter a thinker's name">
  </form>
  {% if svg %}
  <p class='mt-5 ml-5'> This is the map of those who influenced or were influenced by {{ thinker }}. Arrows indicate
    direction of influence. Click on names for more information. </p>
  {{ svg | safe }}
  {% endif %}
  {% if error %}
  <div class="error">{{error}}</div>
  {% elif disambiguation_options %}
  <p>Ambiguous page name, options are:</p>
  <ul class="list-group"></ul>
  {% for opt in disambiguation_options %}
  <li class="list-group-item">{{opt}}</li>
  {% endfor %}
  </ul>
  {% endif %}
</main>
{% endblock %}