<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  {% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/about', 'about', 'About')
] -%}

  {% set active_page = active_page|default('index') -%}

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {% for href, id, caption in navigation_bar %}
      <li {% if id == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" style="font-family: 'Fira Sans', Sans-Serif" href="{{ href|e }}">{{ caption|e }}</a>
      </li>
      {% endfor %}
    </ul>
    <!-- <li class="nav-item active">
        <a class="nav-link" href="/" style="font-family: 'Fira Sans', Sans-Serif">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="font-family: 'Fira Sans', Sans-Serif;">About <span
            class="sr-only">(current)</span></a>
      </li>
      </li> -->

    <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-%sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
  </div>
</nav>